<div class="container" id="home-container">
	<div class="jumbotron text-white">
	  <h1 class="display-4">ALPHA BLOG</h1>
	  <p class="lead">Hi! I am Norman Paul Dannug, the creator of this site. <br/>This application was built using Ruby on Rails programming.</p>
	  <hr class="my-4">
	  <p>Feel free to check out the features of this site and you may send me your ideas on what features can be added.</p>  
	  <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
	</div>
</div>
